<div class="service-header">
    <div class="container">
        <h1>GigE Internet - Fixed 1000 Mbps</h1>
        <ul class="services-menu">
            <li>
                <a href="#">
                    <img src="img/services-icon1.png" alt="icon">
                    <span>Equipment</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/services-icon2.png" alt="icon">
                    <span>Guides</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/services-icon3.png" alt="icon">
                    <span>Config</span>
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="container">
    <div style="height: 20px;"></div>
    <div class="h1">HEADING H1</div>
    <div style="height: 20px;"></div>
    <div class="h2">HEADING H2</div>
    <div style="height: 20px;"></div>
    <div class="h3">HEADING H3</div>
    <div style="height: 20px;"></div>
    <div class="h4">HEADING H4</div>
    <div style="height: 20px;"></div>
    <div class="h5">HEADING H5</div>
    <div style="height: 20px;"></div>
    <div class="h6">HEADING H6</div>
    <div style="height: 20px;"></div>

    <div style="background: #343435; padding: 30px;">
        <div class="h1 light">HEADING H1</div>
        <div style="height: 20px;"></div>
        <div class="h2 light">HEADING H2</div>
        <div style="height: 20px;"></div>
        <div class="h3 light">HEADING H3</div>
        <div style="height: 20px;"></div>
        <div class="h4 light">HEADING H4</div>
        <div style="height: 20px;"></div>
        <div class="h5 light">HEADING H5</div>
        <div style="height: 20px;"></div>
        <div class="h6 light">HEADING H6</div>
    </div>

    <div style="height: 20px;"></div>

    <label for="simple-label" class="simple-label">Your name</label>
    <input class="simple-input" id="simple-label" type="text" value=""/>
    <div style="height: 20px;"></div>
    <input class="simple-input " type="email" value="" placeholder="Email"/>
    <div style="height: 20px;"></div>
    <input class="simple-input invalid" type="email" value="" placeholder="Email"/>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-6">
            <label for="simple-label2" class="simple-label simple-label-type_2">Username * :</label>
            <input class="simple-input simple-input-type_2" id="simple-label2" type="email" value=""/>
            <div style="height: 20px;"></div>
        </div>
        <div class="col-sm-6">
            <label for="simple-label3" class="simple-label simple-label-type_2">Email * :</label>
            <input class="simple-input simple-input-type_2" id="simple-label3" type="email" value=""/>
            <div style="height: 20px;"></div>
        </div>
    </div>
    <textarea class="simple-input" placeholder="Message"></textarea>
    <div style="height: 15px;"></div>
    <label class="checkbox-entry">
        <input type="checkbox"/><span>Remember me</span>
    </label>
    <div style="height: 15px;"></div>
    <label class="checkbox-entry radio-entry">
        <input type="radio" name="1" checked/><span>Product Lorem Ipsum</span>
    </label>
    <div style="height: 15px;"></div>
    <label class="checkbox-entry radio-entry">
        <input type="radio" name="1"/><span>Product Lorem Ipsum</span>
    </label>
    <div style="height: 20px;"></div>

    <div style="background: #343435; padding: 30px;">
        <label for="simple-label4" class="simple-label light">Your name</label>
        <input class="simple-input light" id="simple-label4" type="text" value=""/>
        <div style="height: 20px;"></div>
        <input class="simple-input light" type="email" value="" placeholder="Email"/>
        <div style="height: 20px;"></div>
        <input class="simple-input light invalid" type="email" value="" placeholder="Email"/>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-sm-6">
                <label for="simple-label5" class="simple-label simple-label-type_2 light">Username * :</label>
                <input class="simple-input simple-input-type_2 light" id="simple-label5" type="email" value=""/>
                <div style="height: 20px;"></div>
            </div>
            <div class="col-sm-6">
                <label for="simple-label6" class="simple-label simple-label-type_2 light">Email * :</label>
                <input class="simple-input simple-input-type_2 light" id="simple-label6" type="email" value=""/>
                <div style="height: 20px;"></div>
            </div>
        </div>
        <textarea class="simple-input light" placeholder="Message"></textarea>
        <div style="height: 15px;"></div>
        <label class="checkbox-entry light">
            <input type="checkbox"/><span>Remember me</span>
        </label>
        <div style="height: 15px;"></div>
        <label class="checkbox-entry radio-entry light">
            <input type="radio" name="1" checked/><span>Product Lorem Ipsum</span>
        </label>
        <div style="height: 15px;"></div>
        <label class="checkbox-entry radio-entry light">
            <input type="radio" name="1"/><span>Product Lorem Ipsum</span>
        </label>
    </div>
    <div style="height: 20px;"></div>
    <div class="simple-article">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Aliquam suscipit</b> augue lacus, id auctor
            <strong>elit placerat</strong> id. Nulla ultricies augue at felis elementum, sodales <a href="#">rhoncus
                metus sagittis.</a></p>
        <ul class="ul">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam suscipit augue lacus, id auctor elit placerat id.</li>
            <li>Nulla ultricies augue at felis elementum, sodales rhoncus metus sagittis. Aliquam suscipit augue lacus,
                id auctor elit placerat id.
            </li>
        </ul>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit augue lacus, id auctor elit
            placerat id. Nulla ultricies augue at felis elementum, sodales rhoncus metus sagittis.</strong></p>
        <ol class="ol">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam suscipit augue lacus, id auctor elit placerat id.</li>
            <li>Nulla ultricies augue at felis elementum, sodales rhoncus metus sagittis. Aliquam suscipit augue lacus,
                id auctor elit placerat id.
            </li>
        </ol>
    </div>
    <div class="simple-article light" style="background: #343435; padding: 30px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Aliquam suscipit</b> augue lacus, id auctor
            <strong>elit placerat</strong> id. Nulla ultricies augue at felis elementum, sodales <a href="#">rhoncus
                metus sagittis.</a></p>
        <ul class="ul light">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam suscipit augue lacus, id auctor elit placerat id.</li>
            <li>Nulla ultricies augue at felis elementum, sodales rhoncus metus sagittis. Aliquam suscipit augue lacus,
                id auctor elit placerat id.
            </li>
        </ul>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit augue lacus, id auctor elit
            placerat id. Nulla ultricies augue at felis elementum, sodales rhoncus metus sagittis.</strong></p>
        <ol class="ol light" style="margin-bottom: 0;">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam suscipit augue lacus, id auctor elit placerat id.</li>
            <li>Nulla ultricies augue at felis elementum, sodales rhoncus metus sagittis. Aliquam suscipit augue lacus,
                id auctor elit placerat id.
            </li>
        </ol>
    </div>
    <div style="height: 20px;"></div>
    <div class="row row-btn">
        <div class="col-sm-12">
            <a class="app-btn" href="#">Pay NOW</a>
            <a class="app-btn app-btn-long" href="#">VIEW ALL</a>
            <a class="app-btn app-btn-border" href="#">DOWNLOAD CDR <img class="bt" src="img/icon-4.png" alt="icon"></a>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row row-btn">
        <div class="col-sm-12">
            <a class="app-btn app-btn-lg app-btn-lg_blue" href="#">Login</a>
            <a class="app-btn app-btn-lg app-btn-lg_orange" ng-click="$ctrl.isOpenPopup=true">Open popup</a>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="app-table-responsive">
        <table class="table-type_1">
            <tr class="caption-tr">
                <th>Part #</th>
                <th>Category</th>
                <th>Service Description</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Total Days</th>
                <th>Charges</th>
            </tr>
            <tr>
                <td><span></span> INT1201</td>
                <td>Business Internet</td>
                <td>Business Internet</td>
                <td>1</td>
                <td>$150.10</td>
                <td>31</td>
                <td>$150.10</td>
            </tr>
            <tr>
                <td><span></span>INT1205</td>
                <td>Ethernet</td>
                <td>E100 Internet - Fixed 50Mbps</td>
                <td>2</td>
                <td>$150.10</td>
                <td>31</td>
                <td>$150.10</td>
            </tr>
            <tr>
                <td><span></span>INT1210</td>
                <td>Miscellaneous</td>
                <td>Business Internet</td>
                <td>1</td>
                <td>$150.10</td>
                <td>31</td>
                <td>$150.10</td>
            </tr>
            <tr>
                <td><span></span>INT1205</td>
                <td>VoIP</td>
                <td>Voice over IP</td>
                <td>1</td>
                <td>$150.10</td>
                <td>31</td>
                <td>$150.10</td>
            </tr>
        </table>
    </div>

    <div style="height: 20px;"></div>
    <div class="app-table-responsive">
        <table class="table-type_1">
            <tr class="caption-tr">
                <th>Product Name <img ng-click="$ctrl.orderByField='product'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                      class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                <th>Description <img ng-click="$ctrl.orderByField='desc'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                     class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                <th>Qty.</th>
                <th>Ship Date <img ng-click="$ctrl.orderByField='ship'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                   class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                <th>Eff Date <img ng-click="$ctrl.orderByField='eff'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                  class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                <th>Order # <img ng-click="$ctrl.orderByField='order'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                 class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                <th>Contact</th>
            </tr>
            <tr ng-repeat="data in $ctrl.data | orderBy:$ctrl.orderByField:$ctrl.reverseSort">
                <td>{{data.product}}</td>
                <td>{{data.desc}}</td>
                <td>{{data.qty}}</td>
                <td>{{data.ship}}</td>
                <td>{{data.eff}}</td>
                <td>{{data.order}}</td>
                <td>{{data.contact}}</td>
            </tr>
        </table>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table-type_2">
                <tr>
                    <td>System Number</td>
                    <td>16999-7</td>
                </tr>
                <tr>
                    <td>Software Version</td>
                    <td>F8.2</td>
                </tr>
                <tr>
                    <td>System Status</td>
                    <td class="active">Active</td>
                </tr>
                <tr>
                    <td>Invoice Frequency</td>
                    <td>1/month</td>
                </tr>
                <tr>
                    <td>Contract Number</td>
                    <td>16-106595</td>
                </tr>
                <tr>
                    <td>Contract Status</td>
                    <td class="expired">Expired</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table-type_2">
                <tr>
                    <td>Lease Type</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Serial Number</td>
                    <td>39B2899</td>
                </tr>
                <tr>
                    <td>MAC Address</td>
                    <td>00-50-60-81-0E-D2</td>
                </tr>
                <tr>
                    <td>IP Address</td>
                    <td>10.1.180.11</td>
                </tr>
                <tr>
                    <td>Alias</td>
                    <td>5134660</td>
                </tr>
                <tr>
                    <td>Gatekeeper IP Adress</td>
                    <td>10.1.1.207</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table-type_2">
                <div class="table-caption">
                    Current Charges
                </div>
                <tr>
                    <td>Other Charges and Credits</td>
                    <td>$1,188.34</td>
                </tr>
                <tr>
                    <td>Late Payments Charges</td>
                    <td>$0.00</td>
                </tr>
                <tr class="total-tr">
                    <td>Total Before Taxes</td>
                    <td>$1,600.45</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table-type_2">
                <div class="table-caption">
                    Taxes
                </div>
                <tr>
                    <td>HST (Ontario)</td>
                    <td>$74.70</td>
                </tr>
                <tr>
                    <td>QST (Quebec)</td>
                    <td>$50.08</td>
                </tr>
                <tr class="total-tr">
                    <td>Grand Total Current Charges</td>
                    <td>$1,725.23</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-4">
            <table class="table-type_2 table-type_3">
                <tr>
                    <td>System Number</td>
                    <td>16999-7.2</td>
                </tr>
                <tr>
                    <td>Software</td>
                    <td></td>
                </tr>
                <tr>
                    <td>System Status</td>
                    <td class="active">Active</td>
                </tr>
                <tr>
                    <td>Cutover</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Software Version</td>
                    <td>F8.2</td>
                </tr>
                <tr>
                    <td>Cutover</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Manufact. Discontinued</td>
                    <td>False</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table-type_2 table-type_3">
                <tr>
                    <td>System Number</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Contract Status</td>
                    <td class="expired">Expired</td>
                </tr>
                <tr>
                    <td>Contract Start</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Contract End</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Contract Number</td>
                    <td>16-106585</td>
                </tr>
                <tr>
                    <td>Contract Price</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Invoice Frequency</td>
                    <td>1/month</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table-type_2 table-type_3">
                <tr>
                    <td>System Number</td>
                    <td>39B20899</td>
                </tr>
                <tr>
                    <td>MAC Address</td>
                    <td>00-50-60-81-0E-D2</td>
                </tr>
                <tr>
                    <td>IP Address</td>
                    <td>10.1.180.11</td>
                </tr>
                <tr>
                    <td>CutoAliasver</td>
                    <td>5134669</td>
                </tr>
                <tr>
                    <td>Gatekeeper IP Address</td>
                    <td>10.1.1.207</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>End of Life</td>
                    <td>N</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <gm-map options="{center: [41.850033, -87.650052], zoom: 12, mapTypeId: 'style1', mapTypeControlOptions: {mapTypeIds: ''}}">
        <gm-styledMapType id="style1" options="{name: 'Style 1'}"
                          styles='[{"featureType" : "administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#f39200"},{"visibility":"on"}]}]'></gm-styledMapType>
        <gm-marker position="map.getCenter()" options="{draggable: true, icon: 'img/marker.png'}"></gm-marker>
    </gm-map>
    <div style="height: 20px;"></div>
    <swiper class="app_slider">
        <slides>
            <slide style="height: 300px; background: #f57f1f;">Slide1</slide>
            <slide style="height: 300px; background: #343435;">Slide2</slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>
    <div style="height: 20px;"></div>
    <div class="app-popup" ng-show="$ctrl.isOpenPopup">
        <div class="app-popup-container">
            <div class="app-popup-container-inner">
                <div class="app-popup-text">Please make sure all fields are populated correctly and try again</div>
                <a class="app-btn app-btn-lg app-btn-lg_orange" ng-click="$ctrl.isOpenPopup=false">LET ME TRY AGAIN</a>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">

        <div class="col-sm-12">
            <div class="accordion dark">
                <div class="accordion-header">
                    Current Usage
                    <span class="accordion-btn" ng-class="{active: $ctrl.box2}"
                          ng-click="$ctrl.box2=!$ctrl.box2"></span>
                </div>
                <div class="accordion-content usage-info-container" data-slide-toggle="$ctrl.box2">
                    <div class="progress-box">
                        <div class="progress-title">
                            GigE Internet - Fixed 1000Mbps <i>(10GB included)</i>
                        </div>
                        <div class="progress-usage">
                            <span class="green-usage" style="width: 70%"></span>
                        </div>
                        <div class="usage-info">
                            6.5GB used <span class="sep">|</span> 3.5GB left
                        </div>
                    </div>
                    <div class="progress-box">
                        <div class="progress-title">
                            E100 Internet - Burstable <i>(10GB included)</i>
                        </div>
                        <div class="progress-usage">
                            <span class="orange-usage" style="width: 80%"></span>
                        </div>
                        <div class="usage-info">
                            7.2GB used <span class="sep">|</span> 2.8GB left
                        </div>
                    </div>
                    <div class="progress-box">
                        <div class="progress-title">
                            Voice - Business Line <i>(1000min included)</i>
                        </div>
                        <div class="progress-usage">
                            <span class="blue-usage" style="width: 90%"></span>
                        </div>
                        <div class="usage-info">
                            920 min used <span class="sep">|</span> <span class="usage-limit">80 min left</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="accordion table-format green-style">
                <div class="accordion-header">
                    GigE Internet - Fixed 1000 Mbps
                    <div class="links-part">
                        <a href="#">
                            <span>Display enquipment</span>
                            <img src="img/service-icon-1.png" alt="icon">
                        </a>
                        <a href="#">
                            <span>Display enquipment</span>
                            <img src="img/service-icon-2.png" alt="icon">
                        </a>
                        <a href="#">
                            <span>Display enquipment</span>
                            <img src="img/service-icon-3.png" alt="icon">
                        </a>
                        <a href="#">
                            <span>enquipment</span>
                            <img src="img/service-icon-4.png" alt="icon">
                        </a>
                    </div>
                    <span class="accordion-btn" ng-class="{active: $ctrl.box3}"
                          ng-click="$ctrl.box3=!$ctrl.box3"></span>
                </div>
                <div class="accordion-content" data-slide-toggle="$ctrl.box3">
                    <div class="row table-row tables-row">
                        <div class="col-md-6">
                            <table class="table-type_2">
                                <tbody>
                                <tr>
                                    <td>System Number</td>
                                    <td>16999-7</td>
                                </tr>
                                <tr>
                                    <td>Software Version</td>
                                    <td>F8.2</td>
                                </tr>
                                <tr>
                                    <td>System Status</td>
                                    <td class="active">Active</td>
                                </tr>
                                <tr>
                                    <td>Invoice Frequency</td>
                                    <td>1/month</td>
                                </tr>
                                <tr>
                                    <td>Contract Number</td>
                                    <td>16-106595</td>
                                </tr>
                                <tr>
                                    <td>Contract Status</td>
                                    <td class="expired">Expired</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table-type_2">
                                <tbody>
                                <tr>
                                    <td>Lease Type</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>Serial Number</td>
                                    <td>39B2899</td>
                                </tr>
                                <tr>
                                    <td>MAC Address</td>
                                    <td>00-50-60-81-0E-D2</td>
                                </tr>
                                <tr>
                                    <td>IP Address</td>
                                    <td>10.1.180.11</td>
                                </tr>
                                <tr>
                                    <td>Alias</td>
                                    <td>5134660</td>
                                </tr>
                                <tr>
                                    <td>Gatekeeper IP Adress</td>
                                    <td>10.1.1.207</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="tab">
        <div class="tab-nav">
            <button ng-class="{active: $ctrl.isSet(1)}" ng-click="$ctrl.setTab(1)" class="tab-nav_item ">Current
                Invoice
            </button>
            <button ng-class="{active: $ctrl.isSet(2)}" ng-click="$ctrl.setTab(2)" class="tab-nav_item">Invoice
                History
            </button>
        </div>
        <div class="tab-content">
            <div class="tab-content_item clearfix" ng-show="$ctrl.isSet(1)">
                <div class="invoice-info-container cleafix">
                    <div class="invoice-info-box">
                        <ul class="ul">
                            <li><strong>Company ABC Incorporated</strong></li>
                            <li>9000 Street St. Suite 2001</li>
                            <li>Toronto, ON, M3D 1H3</li>
                        </ul>
                    </div>
                    <div class="invoice-info-box">
                        <ul class="ul">
                            <li>Contract <strong>#1837</strong></li>
                            <li>Billing Account # : <strong>010009876543</strong></li>
                            <li>Invoice Date : <strong>November 01, 2016</strong></li>
                        </ul>
                    </div>
                    <div class="invoice-info-box invoice-date">
                        <p>Invoice due date:</p>
                        <h3>November 30, 2016</h3>
                    </div>
                </div>
                <div class="current-invoice clearfix">
                    <div class="current-invoice-head">
                        <h3>Invoice # 12090-01</h3>
                        <a class="download-invoice" href="#"><img src="img/icon-download-orange.png" alt="icon">
                            DOWNLOAD INVOICE</a>
                    </div>
                    <div class="current-invoice-detail">
                        <div class="invoice-col invoice-col-status">
                            <span>Invoice Status:</span>
                            <h3>To Pay</h3>
                        </div>
                        <div class="invoice-col invoice-col-current">
                            <span>Current Amount:</span>
                            <h3>$1,725.24</h3>
                        </div>
                        <div class="invoice-col invoice-col-overdue">
                            <span>Overdue Amount:</span>
                            <h3>$173.50</h3>
                        </div>
                        <div class="invoice-col invoice-col-btn">
                            <div>
                                <a class="app-btn app-btn-border" href="#">DOWNLOAD CDR <img class="bt" src="img/icon-4.png" alt="icon"></a>

                            </div>
                            <div>
                                <a class="app-btn app-btn-long" href="#">PAY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content_item clearfix" ng-show="$ctrl.isSet(2)">
                <div class="invoice-info-container cleafix">
                    <div class="invoice-info-box">
                        <ul class="ul">
                            <li><strong>2Company ABC Incorporated</strong></li>
                            <li>9000 Street St. Suite 2001</li>
                            <li>Toronto, ON, M3D 1H3</li>
                        </ul>
                    </div>
                    <div class="invoice-info-box">
                        <ul class="ul">
                            <li>Contract <strong>#1837</strong></li>
                            <li>Billing Account # : <strong>010009876543</strong></li>
                            <li>Invoice Date : <strong>November 01, 2016</strong></li>
                        </ul>
                    </div>
                    <div class="invoice-info-box invoice-date-range">
                        <p><strong>Select date range</strong></p>
                        <div class="select-wrapp">
                            <select >
                                <option value="">From</option>
                                <option value="">08/14/2015</option>
                                <option value="">09/14/2015</option>
                                <option value="">10/14/2015</option>
                            </select>
                            <i></i>
                        </div>
                        <div class="select-wrapp">
                            <select >
                                <option value="">To</option>
                                <option value="">08/14/2015</option>
                                <option value="">09/14/2015</option>
                                <option value="">10/14/2015</option>
                            </select>
                            <i></i>
                        </div>
                    </div>
                </div>
                <input class="simple-input invoice-search" type="email" value="" placeholder="Type invoice number">
                <div class="app-table-responsive">
                    <table class="table-type_1">
                        <tr class="caption-tr">
                            <th>Date <img ng-click="$ctrl.orderInvoice='date'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                                  class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                            <th>Invoice # <img ng-click="$ctrl.orderInvoice='invoice'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                                 class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                            <th>Account <img ng-click="$ctrl.orderInvoice='account'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                               class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                            <th>Amount <img ng-click="$ctrl.orderInvoice='amount'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                              class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                            <th>Actions <img ng-click="$ctrl.orderInvoice='actions'; $ctrl.reverseSort = !$ctrl.reverseSort"
                                             class="filter-icon" src="img/filter-image.png" alt="icon"></th>
                        </tr>
                        <tr ng-repeat="data in $ctrl.dataInvoice | orderBy:$ctrl.orderInvoice:$ctrl.reverseSort">
                            <td>{{data.date}}</td>
                            <td>{{data.invoice}}</td>
                            <td>{{data.account}}</td>
                            <td>{{data.amount}}</td>
                            <td><a class="app-btn" href="{{data.actions}}">view</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="total-due clearfix">
                <div class="total-due-title">
                    <h3>Total Due</h3>
                    <a class="app-btn" href="#">Pay NOW</a>
                </div>
                <div class="total-due-sum">
                    $1798.23
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="accordion welcome-board">
        <div class="accordion-header">
            <div class="welcome-title">
                <span>Welcome back,</span>
                <h1>Ian Wilson!</h1>
            </div>
            <div class="welcome-info">
                <div>Below is your summary</div>
                <div>as of <span>November 20, 2016</span></div>
            </div>
            <span class="accordion-btn" ng-class="{active: $ctrl.box4}" ng-click="$ctrl.box4=!$ctrl.box4"></span>
        </div>
        <div class="accordion-content welcome-content" data-slide-toggle="$ctrl.box4">
            <div class="welcome-content-left">
                <h4>Company ABC Incorporated</h4>
                <h4>Billing Account # : 010009876543</h4>
            </div>
            <div class="welcome-content-right">
                <h5>Billing Period:</h5>
                <p>November 1, 2016 – December 1, 2016</p>
                <span>(10 days left)</span>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a class="guide-box">
                <div class="guide-box-type">
                    <span>.docx</span>

                    <div class="guide-box-icon">
                        <img src="img/icon-download.png" alt="icon">
                    </div>
                </div>
                <h3 class="guide-title">
                    Installation Guide for First Time Users
                </h3>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="guide-box">
                <div class="guide-box-type">
                    <span>.pdf</span>
                    <div class="guide-box-icon">
                        <img src="img/icon-download.png" alt="icon">
                    </div>
                </div>
                <h3 class="guide-title">
                    Setup Guide for Netgear NL-900
                </h3>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="guide-box">
                <div class="guide-box-type">
                    <span>.txt</span>
                    <div class="guide-box-icon">
                        <img src="img/icon-download.png" alt="icon">
                    </div>
                </div>
                <h3 class="guide-title">
                    Read Me Document for Terabit System AM3D-90093E
                </h3>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="guide-box">
                <div class="guide-box-type">
                    <span>.xlsx</span>
                    <div class="guide-box-icon">
                        <img src="img/icon-download.png" alt="icon">
                    </div>
                </div>
                <h3 class="guide-title">
                    Router Values for Optimal Performance
                </h3>
            </a>
        </div>
    </div>

    <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="info-block">
                    <h1 class="title text-center">
                        Account information
                    </h1>
                    <ul class="account-info ul">
                        <li><span>Company logo:</span>
                            <div class="user-logo">
                                <img src="img/avatar-icon.png" alt="logo">
                                <div class="upload-logo">
                                    <input type="file" class="upload-input"/>
                                    <a class="app-btn" href="#">Upload new logo</a>
                                </div>
                            </div>
                        </li>
                        <li><span>First name:</span> Alex</li>
                        <li><span>Last name:</span> Doeu</li>
                        <li><span>Username:</span> User1</li>
                        <li><span>Email:</span> example@gmail.com</li>
                        <li><span>Phone number:</span> 0986324242332</li>
                    </ul>
                    <a class="app-btn mt20" href="#">Change password</a>
                </div>
            </div>

        </div>
    <div style="height: 20px;"></div>

    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="info-block edit-user-info">
                <h1 class="title text-center">
                   Edit account information
                </h1>
                <form action="">
                    <label for="firstName" class="simple-label">First name:</label>
                    <input class="simple-input" id="firstName" type="text" value="Alex">
                    <label for="lastName" class="simple-label">Last name:</label>
                    <input class="simple-input" id="lastName" type="text" value="Doeu">
                    <label for="userName" class="simple-label">Username:</label>
                    <input class="simple-input" id="userName" type="text" value="User1">
                    <label for="userEmail" class="simple-label">Email:</label>
                    <input class="simple-input" id="userEmail" type="text" value="example@gmail.com">
                    <label for="userPhone" class="simple-label">Phone number:</label>
                    <input class="simple-input" id="userPhone" type="text" value="0986324242332">
                </form>
                <a class="app-btn mt5" href="#">Save</a>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="info-block edit-user-info">
                <h1 class="title text-center">
                    Change password
                </h1>
                <form action="">
                    <label for="currPass" class="simple-label">Current password: </label>
                    <input class="simple-input" id="currPass" type="password" value="">
                    <label for="pass" class="simple-label">Password:</label>
                    <input class="simple-input" id="pass" type="password" value="">
                    <label for="newPass" class="simple-label">Confirm password:</label>
                    <input class="simple-input" id="newPass" type="password" value="">
                </form>
                <div class="text-center">
                    <a class="app-btn mt5" href="#">Save</a>
                    <a class="app-btn app-btn_black mt5" href="#">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="info-block">
                <h1 class="title text-center">
                    Default time zone
                </h1>
                <h2>
                    Your current time zone is
                    <span>
                        EST (UTC-5)
                    </span>
                </h2>
                <label for="timeZone" class="simple-label" >Select a new default time zone</label>
                <div class="select-wrapp">
                    <select name="" id="timeZone">
                        <option value="">EST (UTC-5)</option>
                        <option value="">EST (UTC-6)</option>
                        <option value="">EST (UTC-7)</option>
                        <option value="">EST (UTC-8)</option>
                    </select>
                    <i></i>
                </div>
                <div class="text-center">
                    <a class="app-btn mt20" href="#">Save</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="info-block text-center">
                <h1 class="title">
                    Notification preferences
                </h1>
                <div class="account-notifications">
                    <label class="checkbox-entry">
                        <input type="checkbox"><span>Account 1</span>
                    </label>
                    <label class="checkbox-entry">
                        <input type="checkbox"><span>Account 2</span>
                    </label>
                    <label class="checkbox-entry">
                        <input type="checkbox"><span>Account 3</span>
                    </label>
                </div>
                <div class="text-center">
                    <a class="app-btn mt5" href="#">Save</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
</div>

















