<div class="container settings-container">
    <div class="row">
        <div class="col-sm-12">
           <div class="info-block">
            <div class="style-popup-form">
                <h3 class="app-popup-text no-padd">
                    Change password
                </h3>
                <div class="empty-sm-50 empty-xs-30"></div> 
                <form novalidate  class="change-pass-form" name="varificationPassword">
                    <label for="currPass" class="simple-label">Current password: </label>
                    <div class="auth-input-wrap"> 
                        <input class="simple-input change-input pass-input" id="currPass" type="password" required>
                        
                    </div>
                    <div class="empty-sm-30 empty-xs-30"></div> 
                    <label for="pass" class="simple-label">Password:</label>
                    <div class="auth-input-wrap"> 
                        <button type="button" class="show-btn">Show</button>
                        <input class="simple-input change-input pass-input" ng-minlength="13" id="pass" type="password" ng-model="$SettingsCtrl.user.userNewPass" required>
                        <div class="tooltip-block">
                            <h6>All passwords must include <span>at least three of the four</span> following: </h6>
                            <ul>
                                <li>13 or more characters</li>
                                <li>Upper & lowercase letters</li>
                                <li>At least one number (e.g. 0-9)</li>
                                <li>At least one special character
                                    <i>(e.g., !$%^&*()_+|-={}[]:":'<>?,/)</i>
                                </li>
                            </ul>
                        </div>
                        <span class="validation-tooltip" ng-class="{'str' : $SettingsCtrl.v() >= 2}"></span>
                    </div>
                    <div class="strength strength-2">
                        <h6>Password Strength:
                            <span ng-show="$SettingsCtrl.v() == 1">Weak</span>
                            <span ng-show="$SettingsCtrl.v() == 2">Medium</span>
                            <span ng-show="$SettingsCtrl.v() >= 3">Strong</span>
                        </h6>
                        <div class="strength-progress">
                            <span ng-class="{'weak-pass' : $SettingsCtrl.v() == 1, 'med-pass' : $SettingsCtrl.v() == 2, 'strong-pass' : $SettingsCtrl.v() >= 3}"></span>
                        </div>
                    </div>
                    
                    <div class="empty-sm-30 empty-xs-30"></div>
                     
                    <label for="newPass" class="simple-label">Confirm password:</label>
                    <div class="auth-input-wrap"> 
                        <button type="button" class="show-btn">Show</button>
                        <input class="simple-input change-input pass-input" id="newPass" ng-minlength="13" type="password" ng-model="$SettingsCtrl.user.userPassConfirm" required>
                        <div class="tooltip-block">
                            <h5>Passwords should match</h5>
                        </div>
                        <span class="validation-tooltip" ng-class="{'str' : $SettingsCtrl.user.userNewPass == $SettingsCtrl.user.userPassConfirm}"></span>
                       
                    </div>
                    
                    <div class="strength strength-2">
                        <h6>Password Strength:
                            <span ng-show="$ctrl.v() == 1">Weak</span>
                            <span ng-show="$ctrl.v() == 2">Medium</span>
                            <span ng-show="$ctrl.v() >= 3">Strong</span>
                        </h6>
                        <div class="strength-progress">
                            <span ng-class="{'weak-pass' : $ctrl.v() == 1, 'med-pass' : $ctrl.v() == 2, 'strong-pass' : $ctrl.v() >= 3}"></span>
                        </div>
                    </div>
                </form>
                <div class="text-center two-button-wrapp">
                    <div class="app-btn mt5" ng-click="$SettingsCtrl.changePass(varificationPassword)">Save</div>
                    <a class="app-btn app-btn_black mt5" ui-sref="app.settings">Cancel</a>
                </div>
            </div>
            <div class="valid-message" ng-show="$SettingsCtrl.required">
                <div class="success-mess valid-mess flex-width-align" ng-class="{'active':$SettingsCtrl.required}">
                    <div class="app-popup-container-inner" >
                        <div class="app-popup-text text-center">Account information is incorrect. Please verify and try again</div>
                        <div class="text-center popup-small-btn">
                            <a class="app-btn mt5" ng-click="$SettingsCtrl.required = false">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
                        
            <div class="valid-message" ng-show="$SettingsCtrl.error">
                <div class="success-mess valid-mess flex-width-align" ng-class="{'active':$SettingsCtrl.error}">
                    <div class="app-popup-container-inner" >
                        <img class="close-btn" ng-click="$SettingsCtrl.error = false" src="img/close-btn.png" alt="icon">
                        <div class="app-popup-text text-center">Please make sure passwords match and try again.</div>
                        <div class="text-center popup-small-btn">
                            <a class="app-btn mt5" ng-click="$SettingsCtrl.error = false">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="valid-message" ng-show="$SettingsCtrl.equalPass">
                <div class="success-mess valid-mess flex-width-align" ng-class="{'active':$SettingsCtrl.equalPass}">
                    <div class="app-popup-container-inner" >
                        <img class="close-btn" ng-click="$SettingsCtrl.equalPass = false" src="img/close-btn.png" alt="icon">
                        <div class="app-popup-text text-center">Please make sure the new password matches the requirements.</div>
                        <div class="text-center popup-small-btn">
                            <a class="app-btn mt5" ng-click="$SettingsCtrl.equalPass = false">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="valid-message" ng-show="$SettingsCtrl.success">
                <div class="success-mess valid-mess flex-width-align" ng-class="{'active':$SettingsCtrl.success}">
                    <div class="app-popup-container-inner" >
                        <img class="close-btn" ng-click="$SettingsCtrl.success = false" src="img/close-btn.png" alt="icon">
                        <div class="app-popup-text text-center">Your password has been successfully changed.</div>
                        <div class="text-center popup-small-btn">
                            <a class="app-btn mt5" ui-sref="app.settings">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
           </div>         
        </div>
    </div>
</div>
