<div class="container dashboard-container" ng-init="$ctrl.pie">
    <div class="accordion welcome-board mt-47">
        <div class="accordion-header">
            <div class="welcome-title">
                <span>Welcome back,</span>
                <h1>Ian Wilson!</h1>
            </div>
            <div class="welcome-info">
                <div>Below is your summary</div>
                <div>as of <span>November 20, 2016</span></div>
            </div>
            <span class="accordion-btn" ng-class="{active: $ctrl.box4}" ng-click="$ctrl.box4=!$ctrl.box4"></span>
        </div>
        <div class="accordion-content welcome-content" data-slide-toggle="$ctrl.box4">
            <div class="welcome-content-left">
                <h4>Company ABC Incorporated</h4>
                <h4>Billing Account # : 010009876543</h4>
            </div>
            <div class="welcome-content-right">
                <h5>Billing Period:</h5>
                <p>November 1, 2016 – December 1, 2016</p>
                <span><i>(10 days left)</i></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="accordion dashboard-table table-format mt-30">
                <div class="accordion-header">
                    Account Summary
                    <span class="accordion-btn" ng-class="{active: $ctrl.box1234}"
                          ng-click="$ctrl.box1234=!$ctrl.box1234"></span>
                </div>
                <div class="accordion-content account-summary" data-slide-toggle="$ctrl.box1234">
                    <table class="table-type_2">
                        <tbody>
                            <tr>
                                <td>Amount of your last invoice</td>
                                <td class="number-format">$235.17</td>
                            </tr>
                            <tr>
                                <td>Payments and adjustments up to Oct 30, 2016</td>
                                <td class="active number-format">-$161.67</td>
                            </tr>
                            <tr class="total-tr">
                                <td>Balance Forward</td>
                                <td class="number-format">$73.50</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-caption">
                        Current Charges
                    </div>
                    <table class="table-type_2">
                        <tbody>
                            <tr>
                                <td>Usage Charges</td>
                                <td class="number-format">$36.72</td>
                            </tr>
                            <tr>
                                <td>Monthly Charges</td>
                                <td class="number-format">$375.39</td>
                            </tr>
                            <tr>
                                <td>Other Charges and Credits</td>
                                <td class="number-format">$1,188.34</td>
                            </tr>
                            <tr>
                                <td>Late Payments Charges</td>
                                <td class="number-format">$0.00</td>
                            </tr>
                            <tr class="total-tr">
                                <td>Total Before Taxes</td>
                                <td class="number-format">$1,600.45</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-caption">
                        Taxes
                    </div>
                    <table class="table-type_2">
                        <tbody>
                            <tr>
                                <td>HST (Ontario)</td>
                                <td class="number-format">$74.70</td>
                            </tr>
                            <tr>
                                <td>QST (Quebec)</td>
                                <td class="number-format">$0.00</td>
                            </tr>
                            <tr class="total-tr">
                                <td>Total Before Taxes</td>
                                <td class="number-format"> $50.08</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="total-due clearfix">
                        <div class="total-due-title">
                            <h3>Total Due</h3>
                            <a class="app-btn" ui-sref="app.payment">Pay NOW</a>
                        </div>
                        <div class="total-due-sum">
                            $1798.23
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-sm-12 col-md-5" ng-class="{'col-md-7': $ctrl.box1}">
			<div class="accordion dark mt-30">
				<div class="accordion-header">
					Current Usage
					<span class="accordion-btn" ng-class="{active: $ctrl.box2}"
						  ng-click="$ctrl.box2=!$ctrl.box2"></span>
				</div>
				<div class="accordion-content usage-info-container" data-slide-toggle="$ctrl.box2">
					<div class="progress-box">
						<div class="progress-title">
							GigE Internet - Fixed 1000Mbps <i>(10GB included)</i>
						</div>
						<div class="progress-usage">
							<span class="green-usage" style="width: 70%"></span>
						</div>
						<div class="usage-info">
							6.5GB used <span class="sep">|</span> 3.5GB left
						</div>
					</div>
					<div class="progress-box">
						<div class="progress-title">
							E100 Internet - Burstable <i>(10GB included)</i>
						</div>
						<div class="progress-usage">
							<span class="orange-usage" style="width: 80%"></span>
						</div>
						<div class="usage-info">
							7.2GB used <span class="sep">|</span> 2.8GB left
						</div>
					</div>
					<div class="progress-box">
						<div class="progress-title">
							Voice - Business Line <i>(1000min included)</i>
						</div>
						<div class="progress-usage">
							<span class="blue-usage" style="width: 90%"></span>
						</div>
						<div class="usage-info">
							920 min used <span class="sep">|</span> <span class="usage-limit">80 min left</span>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="col-sm-12 col-md-5" ng-class="{'collapse-left': $ctrl.box1}">
            <div class="accordion mt-30">
                <div class="accordion-header">
                    Current Balance
                    <span class="accordion-btn" ng-class="{active: $ctrl.box3}"
                          ng-click="$ctrl.box3=!$ctrl.box3"></span>
                </div>
                <div class="accordion-content accordion-pie accordion-content_white" data-slide-toggle="$ctrl.box3">
                    <div class="diagrama-wrapp">
                        <div class="balance-info">
                            <span class="balance-text">Total Balance:</span>
                            <h3 class="balance-sum">$29,271.23</h3>
                        </div>
                        <span class="diagrama-shadow"></span>
                        <svg class="chart">
                            <linearGradient id="redyel" gradientUnits="objectBoundingBox">
                                <stop offset="0%" stop-color="#f8b331"/>
                                <stop offset="100%" stop-color="#d38f31"/>
                            </linearGradient>
                            <linearGradient id="yelgre" gradientUnits="objectBoundingBox">
                                <stop offset="0%" stop-color="#4ca393"/>
                                <stop offset="100%" stop-color="#54ac5d"/>
                            </linearGradient>
                            <linearGradient id="grecya" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
                                <stop offset="0%" stop-color="#5fafe1"/>
                                <stop offset="100%" stop-color="#3376d2"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        <ul class="balance-list">
                            <li>Voice - Business Line <span>$13,171.95</span></li>
                            <li>E100 Internet - Burstable <span>$8,781.37</span></li>
                            <li>GigE Internet - Fixed 1000Mbps <span>$7317.91</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="dashboard-summary-container">
    <div class="container">
        <h2 class="page-title">
            Summary of Services
        </h2>
        <div class="accordion table-format green-style">
            <div class="accordion-header">
                <a class="accordion-link" ui-sref="app.service({path:'GigE Internet - Fixed 1000 Mbps', background: 'green'})">
                    GigE Internet - Fixed 1000 Mbps
                </a>
                <div class="links-part">
                    <a ui-sref="app.service({path:'GigE Internet - Fixed 1000 Mbps', scrollTo: '#enquipment', background: 'green'})">
                        <span>Display enquipment</span>
                        <img src="img/service-icon-1.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'GigE Internet - Fixed 1000 Mbps', scrollTo: '#guide', background: 'green'})">
                        <span>User guide</span>
                        <img src="img/service-icon-2.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'GigE Internet - Fixed 1000 Mbps', scrollTo: '#configuration', background: 'green'})">
                        <span>Configuration</span>
                        <img src="img/service-icon-3.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'GigE Internet - Fixed 1000 Mbps', background: 'green'})">
                        <span>details</span>
                        <img src="img/service-icon-4.png" alt="icon">
                    </a>
                </div>
                <span class="accordion-btn" ng-class="{active: $ctrl.box5}" ng-click="$ctrl.box5=!$ctrl.box5; $ctrl.box6 = true; $ctrl.box7 = true;"></span>
            </div>
            <div class="accordion-content hidden-accordion" data-slide-toggle="$ctrl.box5">
                <div class="row table-row tables-row">
                    <div class="col-md-6">
                        <table class="table-type_2">
                            <tbody>
                            <tr>
                                <td>System Number</td>
                                <td class="number-format">16999-7</td>
                            </tr>
                            <tr>
                                <td>Software Version</td>
                                <td class="number-format">F8.2</td>
                            </tr>
                            <tr>
                                <td>System Status</td>
                                <td class="active number-format">Active</td>
                            </tr>
                            <tr>
                                <td>Invoice Frequency</td>
                                <td class="number-format">1/month</td>
                            </tr>
                            <tr>
                                <td>Contract Number</td>
                                <td class="number-format">16-106595</td>
                            </tr>
                            <tr>
                                <td>Contract Status</td>
                                <td class="expired number-format">Expired</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table-type_2">
                            <tbody>
                            <tr>
                                <td>Lease Type</td>
                                <td class="number-format">None</td>
                            </tr>
                            <tr>
                                <td>Serial Number</td>
                                <td class="number-format">39B2899</td>
                            </tr>
                            <tr>
                                <td>MAC Address</td>
                                <td class="number-format">00-50-60-81-0E-D2</td>
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td class="number-format">10.1.180.11</td>
                            </tr>
                            <tr>
                                <td>Alias</td>
                                <td class="number-format">5134660</td>
                            </tr>
                            <tr>
                                <td>Gatekeeper IP Adress</td>
                                <td class="number-format">10.1.1.207</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion table-format orange-style">
            <div class="accordion-header">
                <a class="accordion-link" ui-sref="app.service({path:'E100 Internet - Burstable', background: 'orange', })">
                    E100 Internet - Burstable
                </a>
                <div class="links-part">
                    <a ui-sref="app.service({path:'E100 Internet - Burstable', scrollTo: '#enquipment', background: 'orange'})">
                        <span>Display enquipment</span>
                        <img src="img/service-icon-1.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'E100 Internet - Burstable', scrollTo: '#guide', background: 'orange'})">
                        <span>User guide</span>
                        <img src="img/service-icon-2.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'E100 Internet - Burstable', scrollTo: '#configuration', background: 'orange'})">
                        <span>Configuration</span>
                        <img src="img/service-icon-3.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'E100 Internet - Burstable', background: 'orange', })">
                        <span>details</span>
                        <img src="img/service-icon-4.png" alt="icon">
                    </a>
                </div>
                <span class="accordion-btn" ng-class="{active: $ctrl.box6}" ng-click="$ctrl.box6=!$ctrl.box6; $ctrl.box5 = true; $ctrl.box7 = true;"></span>
            </div>
            <div class="accordion-content ng-isolate-scope hidden-accordion"  data-slide-toggle="$ctrl.box6">
                <div class="row table-row tables-row">
                    <div class="col-md-6">
                        <table class="table-type_2">
                            <tbody>
                            <tr>
                                <td>System Number</td>
                                <td class="number-format">16999-7</td>
                            </tr>
                            <tr>
                                <td>Software Version</td>
                                <td class="number-format">F8.2</td>
                            </tr>
                            <tr>
                                <td>System Status</td>
                                <td class="active number-format">Active</td>
                            </tr>
                            <tr>
                                <td>Invoice Frequency</td>
                                <td class="number-format">1/month</td>
                            </tr>
                            <tr>
                                <td>Contract Number</td>
                                <td class="number-format"> 16-106595</td>
                            </tr>
                            <tr>
                                <td>Contract Status</td>
                                <td class="expired number-format">Expired</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table-type_2">
                            <tbody>
                            <tr>
                                <td>Lease Type</td>
                                <td class="number-format">None</td>
                            </tr>
                            <tr>
                                <td>Serial Number</td>
                                <td class="number-format">39B2899</td>
                            </tr>
                            <tr>
                                <td>MAC Address</td>
                                <td class="number-format">00-50-60-81-0E-D2</td>
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td class="number-format">10.1.180.11</td>
                            </tr>
                            <tr>
                                <td>Alias</td>
                                <td class="number-format">5134660</td>
                            </tr>
                            <tr>
                                <td>Gatekeeper IP Adress</td>
                                <td class="number-format">10.1.1.207</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion table-format blue-style">
            <div class="accordion-header">
                <a class="accordion-link" ui-sref="app.service({path:'Voice - Business Line', background: 'blue'})">
                     Voice - Business Line
                </a>
                <div class="links-part">
                    <a ui-sref="app.service({path:'Voice - Business Line', scrollTo: '#enquipment', background: 'blue'})">
                        <span>Display enquipment</span>
                        <img src="img/service-icon-1.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'Voice - Business Line', scrollTo: '#guide', background: 'blue'})">
                        <span>User guide</span>
                        <img src="img/service-icon-2.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'Voice - Business Line', scrollTo: '#configuration', background: 'blue'})">
                        <span>Configuration</span>
                        <img src="img/service-icon-3.png" alt="icon">
                    </a>
                    <a ui-sref="app.service({path:'Voice - Business Line', background: 'blue'})">
                        <span>details</span>
                        <img src="img/service-icon-4.png" alt="icon">
                    </a>
                </div>
                <span class="accordion-btn" ng-class="{active: $ctrl.box7}" ng-click="$ctrl.box7=!$ctrl.box7; $ctrl.box6 = true; $ctrl.box5 = true;"></span>
            </div>
            <div class="accordion-content hidden-accordion" data-slide-toggle="$ctrl.box7">
                <div class="row table-row tables-row">
                    <div class="col-md-6">
                        <table class="table-type_2">
                            <tbody>
                            <tr>
                                <td>System Number</td>
                                <td class="number-format">16999-7</td>
                            </tr>
                            <tr>
                                <td>Software Version</td>
                                <td class="number-format">F8.2</td>
                            </tr>
                            <tr>
                                <td>System Status</td>
                                <td class="active number-format">Active</td>
                            </tr>
                            <tr>
                                <td>Invoice Frequency</td>
                                <td class="number-format">1/month</td>
                            </tr>
                            <tr>
                                <td>Contract Number</td>
                                <td class="number-format">16-106595</td>
                            </tr>
                            <tr>
                                <td>Contract Status</td>
                                <td class="expired">Expired</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table-type_2">
                            <tbody>
                            <tr>
                                <td>Lease Type</td>
                                <td class="number-format">None</td>
                            </tr>
                            <tr>
                                <td>Serial Number</td>
                                <td class="number-format">39B2899</td>
                            </tr>
                            <tr>
                                <td>MAC Address</td>
                                <td class="number-format">00-50-60-81-0E-D2</td>
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td class="number-format">10.1.180.11</td>
                            </tr>
                            <tr>
                                <td>Alias</td>
                                <td class="number-format">5134660</td>
                            </tr>
                            <tr>
                                <td>Gatekeeper IP Adress</td>
                                <td class="number-format">10.1.1.207</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



