<footer>
    <div class="chat-block-wrapp" fix-scroll-bottom="fix-bottom">
         <a href="#" class="chat-block">
            <img src="img/chat.png" alt="">
             <span class="medium-font">Live Chat Now!</span>
         </a>
         <a href="tel:" class="chat-block">
            <img src="img/phone.png" alt="">
             <span class="medium-font">1(800)123-4567</span>
         </a>
    </div>
	<div class="container">
         
		<div class="copy">
            © Copyright 1998–2017 AllStream Inc. <span>All Rights Reserved.</span>
        </div>
        <a class="footer-link" href="#" target="_blank">
            Allstream Site
        </a>
	</div>
</footer>



